.SideMenu {
  background-color: rgb(15, 15, 15);
  width: 20%;
  color: white;
  overflow: auto;
}

.SideMenuHidden {
  display: none;
}

.Sections {
  height: 80px;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 51, 51);
}

.Sections span {
  margin: 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sections span:hover {
  background-color: rgb(102, 102, 102);
  cursor: pointer;
}

.SideMenu::-webkit-scrollbar {
  width: 8px;
}

.SideMenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(31, 215, 20);
}
